{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="icon" type="image/png" href="{% static 'image/favicon.png' %}">
<title>Dzulfikri Bin Pysal Portfolio</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendors/linericon/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}">
