{% extends 'base.html' %}
{% load static %}


{% block navigation%}

<li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'service' %}">Services</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a></li>
<li class="nav-item submenu dropdown">
	<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
	<ul class="dropdown-menu">
		<li class="nav-item"><a class="nav-link" href="{% url 'elements-path' %}">Elements</a></li>
		<li class="nav-item"><a class="nav-link" href="{% url 'portfolio-details' %}">Portfolio Details</a></li>
	</ul>
</li>
<li class="nav-item submenu dropdown">
	<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
	<ul class="dropdown-menu">
		<li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
		<li class="nav-item"><a class="nav-link" href="{% url 'single-blog' %}">Blog Details</a></li>
	</ul>
</li>
<li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Admin</a></li>

{% endblock %}


{% block content %}

<!--================ Start Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="banner_content">
							<h3 class="text-uppercase">Hell0</h3>
							<h1 class="text-uppercase">I am Dzulfikri Pysal</h1>
							<h5 class="text-uppercase">Junior Software developer</h5>
							<div class="d-flex align-items-center">
								<a class="primary_btn tr-bg" href="{% static 'default/doc/Dzulfikri-Pysal.pdf' %}"><span>Get CV</span></a>
								<a class="primary_btn tr-bg" href="{% static 'default/doc/Portfolio.pdf' %}"><span>Get Portfolio</span></a>
							</div>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="home_right_img">
							<img class="" src="{% static 'image/banner/home-right.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->

	<!--================ Start About Us Area =================-->
	<section class="about_area section_gap">
		<div class="container">
			<div class="row justify-content-start align-items-center">
				<div class="col-lg-5">
					<div class="about_img">
						<img class="" src="{% static 'image/about-us.png' %}" alt="">
					</div>
				</div>

				<div class="offset-lg-1 col-lg-5">
					<div class="main_title text-left">
						<h2>let’s <br>
							Introduce about <br>
							myself</h2>
						<p>
							Whose given. Were gathered. There first subdue greater. Bearing you Whales heaven 
							midst their. Beast creepeth. Fish days.
						</p>
						<p>
							Is give may shall likeness made yielding spirit a itself together created after sea 
							is in beast beginning signs open god you're gathering whose gathered cattle let. 
							Creature whales fruit unto meat the life beginning all in under give two.
						</p>
						<a class="primary_btn" href="{% static 'default/doc/Dzulfikri-Pysal.pdf' %}"><span>Download CV</span></a>
						<a class="primary_btn" href="{% static 'default/doc/Portfolio.pdf' %}"><span>Download Portfolio</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End About Us Area =================-->

	<!--================ Srart Brand Area =================-->
	<section class="brand_area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="offset-lg-0 col-lg-12 col-md-6">
					<div class="client-info">
						<div class="d-flex mb-50">
							<span class="lage">4</span>
							<span class="smll">Years Programming Experience</span>
						</div>
						<div class="call-now d-flex">
							<div>
								<span class="fa fa-phone"></span>
							</div>
							<div class="ml-15">
								<p>call me now</p>
								<h3>(+60) 14-646-3541</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Brand Area =================-->

	<!--================ Start Features Area =================-->
	<section class="features_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2>service offers </h2>
						<p>
							Is give may shall likeness made yielding spirit a itself togeth created 
							after sea <br> is in beast beginning signs open god you're gathering ithe
						</p>
					</div>
				</div>
			</div>
			<div class="row feature_inner">
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{% static 'image/services/s1.png' %}" alt="">
						<h4>WebApps Development</h4>
						<p>Description Here</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{% static 'image/services/s2.png' %}" alt="">
						<h4>Mobile Apps Development</h4>
						<p>Description Here</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{% static 'image/services/s3.png' %}" alt="">
						<h4>Deep Learning Algorithms</h4>
						<p>Description Here</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{% static 'image/services/s4.png' %}" alt="">
						<h4>Fuzzy Logic Algorithms</h4>
						<p>Description Here</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Features Area =================-->


	<!--================ Start Newsletter Area =================-->
	<section class="newsletter_area">
		<div class="container" style="background-image: {% static 'default/image/subscribe-bg.png' %};background-repeat: no-repeat;">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-12">
					<div class="subscription_box text-center">
						<h2 class="text-uppercase text-black" style="color:black;">get update from anywhere</h2>
						<p class="text-white">
							Bearing Void gathering light light his eavening unto dont afraid. 
						</p>
						<div class="subcribe-form" id="mc_embed_signup">
							<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscription relative">
								<input name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required="" type="email">
								<div style="position: absolute; left: -5000px;">
									<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
								</div>
								<button class="primary-btn hover d-inline">Get Started</button>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Newsletter Area =================-->

			
{% endblock %}


	